@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'kanit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    background-color: rgba(253, 253, 253, 0.616);
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.next {
    width: 80px;
    height: 30px;
    background-color: rgb(212, 156, 81);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
}

.nextcontainer {
    padding-top: 50px;
}

.menu,
.quiz,
.score {
    width: 500px;
    height: 500px;
    background-color: bisque;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid rgb(177, 115, 0);
}

h1 {
    font-size: 24px;
}

.menu img {
    width: 100px;
}

.menu button,
.quiz button,
.score button {
    font-family: 'kanit', sans-serif;
    width: 300px;
    height: 50px;
    margin: 5px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(255, 181, 83);
}

.menu button:hover,
.quiz button:hover,
.score button:hover {
    background-color: rgb(212, 156, 81);
    color: aliceblue;
}

.point {
    width: 100px;
    height: 100px;
    background-color: rgb(212, 156, 81);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
}

@media only screen and (max-width: 900px) {
    body {
        font-family: 'kanit', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        min-height: 90vh;
        background-color: rgba(253, 253, 253, 0.616);
    }
}

@media only screen and (max-width: 500px) {
    body {
        font-family: 'kanit', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        min-height: 90vh;
        background-color: rgba(253, 253, 253, 0.616);
    }
    .menu,
    .quiz,
    .score {
        width: 350px;
        height: 400px;
        background-color: bisque;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 10px solid rgb(177, 115, 0);
    }
    h1 {
        margin-top: 20px;
        font-size: 16px;
    }
    .nextcontainer {
        padding-top: 40px;
    }
}